@model List<RekomendacjaViewModel>

<link rel="stylesheet" href="~/css/results.css" asp-append-version="true" />

<div class="text-center my-5">
    @if (Model.Any())
    {
        <h1 class="display-5">Oto propozycje podróży dla Ciebie:</h1>
    }
    else
    {
        <h1 class="display-5">Brak wyników</h1>
        <p class="lead">Niestety nie udało się znaleźć żadnych propozycji.</p>
    }
</div>

@if (Model.Any())
{
    <div class="row justify-content-center pb-5">
        @foreach (var rekomendacja in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="@rekomendacja.ImageUrl" class="card-img-top" alt="Zdjęcie: @rekomendacja.Tytul">
                    <div class="card-body p-4 d-flex flex-column">
                        <h2 class="card-title h4">@rekomendacja.Tytul</h2>
                        <p class="lead text-muted small mb-4">@rekomendacja.Opis</p>
                        <hr>

                        <div class="recommendation-section mb-3">
                            <h5 class="h6">Dlaczego to miejsce może Ci się spodobać?</h5>
                            <p class="fst-italic">@rekomendacja.Uzasadnienie</p>
                        </div>

                        <div class="recommendation-section mt-auto">
                            <h5 class="h6">Szczegóły dopasowane do Ciebie:</h5>
                            <ul class="list-group list-group-flush mt-3">
                                @foreach (var detal in rekomendacja.Szczegoly)
                                {
                                    <li class="list-group-item">@detal</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}


<div class="mt-3 mb-5 text-center">
    <a asp-action="Index" class="btn btn-outline-primary btn-lg">Zmień preferencje i szukaj ponownie</a>
</div>